* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

body .page {
  width: 100%;
  height: 100%;
}

body .page .page-container {
  margin: 0;
  min-width: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #5f6368;
  font-size: 13px;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
}

nav {
  text-align: right;
  width: 100%;
  padding: 15px;
  padding-right: 30px;
}

nav .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-list .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.87);
}

nav .nav-list .nav-item:not(:last-child) {
  margin-right: 15px;
}

nav .nav-list .nav-item--app {
  height: 30px;
  width: 30px;
  position: relative;
}

nav .nav-list .nav-item--app svg {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #707070;
}

nav .nav-list .nav-item--app svg:hover {
  fill: rgba(0, 0, 0, 0.87);
}

nav .nav-list .nav-item--profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
}

nav .nav-list .nav-item--profile a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url("../images/PicsArt_12-04-11.35.39.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

main {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-logo img {
  cursor: pointer;
}

main .main-input {
  margin-top: 30px;
  position: relative;
}

main .main-input .main-form {
  max-width: 584px;
  margin: 0 auto;
}

main .main-input .main-form .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 8px 0 16px;
}

main .main-input .main-form .form-group:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

main .main-input .main-form .form-group .form-logo--search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5px;
  margin-right: 7px;
}

main .main-input .main-form .form-group .form-logo--search svg {
  height: 20px;
  width: 20px;
  fill: #a9a9a9;
}

main .main-input .main-form .form-group .form-input {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-input .main-form .form-group .form-input input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin-top: -3px;
  color: #101010;
}

main .main-input .main-form .form-group .form-input input:focus {
  outline: none;
}

main .main-input .main-form .form-group .form-logo--voice_search {
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5px;
  margin-right: 7px;
}

main .main-input .main-form .form-group .form-logo--voice_search svg {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */