main {
    text-align: center;
    flex: 1;
    .main-logo {
        img {
            cursor: pointer;
        }
    }
    .main-input {
        margin-top: 30px;
        position: relative;
        .main-form {
            max-width: 584px;
            margin: 0 auto;
            .form-group {
                position: relative;
                display: flex;
                align-items: center;
                height: 44px;
                width: 100%;
                border: 1px solid $search-border;
                border-radius: 24px;
                padding: 5px 8px 0 16px;
                &:hover {
                    box-shadow: 0 1px 6px 0 $border-shadow;
                    border-color: $border-color;
                }
                .form-logo--search {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -5px;
                    margin-right: 7px;
                    svg {
                        height: 20px;
                        width: 20px;
                        fill: $color-gray-400;
                    }
                }
                .form-input {
                    height: 100%;
                    flex: 1;
                    input {
                        border: none;
                        width: 100%;
                        height: 100%;
                        font-size: 16px;
                        margin-top: -3px;
                        color: $input-color;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .form-logo--voice_search {
                    height: 100%;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -5px;
                    margin-right: 7px;
                    svg {
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}