$color-white: white;
$color-gray-400: #a9a9a9;
$color-gray-500: #707070;
$color-link: #5f6368;
$nav-color: rgba(0,0,0,0.87);
$search-border: #dfe1e5;
$border-shadow: rgba(32, 33, 36, 0.28);
$border-color: rgba(223, 225, 229, 0);
$input-color: #101010;